
.progressive-images {
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.progressive {
  background-color: $light-gray;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: 0.3s transform ease;

  img {
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.5s ease;

    &.loaded {
      opacity: 1;
    }

    &.progressive-thumbnail {
      filter: blur(30px);
      left: auto;
      position: relative;
      top: auto;
      width: auto;
    }
  }
}
