.welcome {
  margin: 0 auto;
  max-width: 50rem;
  width: 100%;
}

header {
  padding: 0 0 2.5rem;
  text-align: left;
}

@media screen and (max-width: $phone-landscape-max) {
  header {
    padding: 0 1rem 2.5rem;
  }
}
