{{#extend "base"}}
{{#content "main" mode="prepend"}}
<div class="content">
    <div class="welcome">
        <header>
            <h1>Feeding Dan in 2015</h1>
            <h2>In 2015, I took a picture of everything I ate. <br> These are those pictures.</h2>
        </header>
    </div>
    <div class="progressive-images" id="pig"></div>
</div>
<script type="text/javascript" src="/js/lib/pig.min.js"></script>
<script type="text/javascript">
    var imageData = {{{progressiveImagesJSON}}};
    var pig = new Pig(imageData, {
        urlForSize: function(filename, size) {
            return '/img/food/' + size + '/' + filename;
        }
    }).enable();
</script>
{{/content}}
{{/extend}}
